


.home{
    justify-content: center;
    margin-bottom: 3rem;
    position: relative;
    width: 100%;

    .slide{
        
        img{
            width: 100%;
        }
    }

    .homeContent{
        
        .homeContentTitle{

        }
        .list-promotion{

            .promotion-item{
                width: 20%;
                display: block;
                border-radius: 8px;
                border: 1px solid   black;
                .promotion__inner{
                    padding: 10px;
                    width: 100%;
                    .contentPromotion_inner{
                        
                        span{
                            display: block;
                            font-weight: 600;
                        }
                        p{
                            margin: 10px 0 !important;
                        }
                    }
                    .coppyCode{
                        justify-content: right;
                    }
                }
            }
        }
    }
}